@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

app-article-list {
    display: flex;
    flex-direction: row;
    width: min(90%, 1300px);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}